<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/sytle.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-primary-elev">
    <main>
      <!-- NavBar -->
      <nav class="navbar navbar-expand-lg">
        <a class="text-color-primary mr-3 logo font-weight-bold" href="#"
          >Logo</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Ver bilhetes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Sorteios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Nosso Suporte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"
                >Resultados e Ganhadores</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Nossos Termos</a>
            </li>
          </ul>
          <div class="ml-auto">
            <img
              src="https://via.placeholder.com/80"
              alt="User Logo"
              class="rounded-circle"
            />
          </div>
        </div>
      </nav>

      <!-- Banner Destaque -->
      <section class="d-flex banner-container position-relative">
        <div class="d-flex flex-column pl-3 pl-md-5 mt-5">
          <div class="title font-weight-bold text-white fs-2">
            Sua chance de
            <p class="text-color-primary">ganhar um grande prêmio chegou!</p>
          </div>
          <div class="description text-white mt-3">
            <p>
              Agora é sua chance de ganhar! Confira os prêmios que você pode
              ganhar em nossos sorteios. Você será nosso próximo sortudo?
            </p>
          </div>

          <div class="d-flex btn-container">
            <button
              type="button"
              class="btn bg-secondary-elev text-uppercase text-white w-50 px-3 py-3 mt-3 btn-participe"
            >
              Participe agora
            </button>
          </div>
        </div>
        <img
          src="../assets/imgs/banner/banner1.jpeg"
          alt=""
          class="banner-image"
          id="banner-image"
        />
        <div class="grupo"></div>
      </section>

      <!-- Chamada de Sorteio -->
      <section
        class="called-draw d-flex flex-column mt-4 mx-4 p-4 align-items-center bg-primary-vairant"
      >
        <div class="title text-white">
          Partice de <span class="text-color-primary">nossos sorteios</span>
          <p>Você também pode ganhar!</p>
        </div>

        <div class="cards-container d-flex p-4">
          <div class="bg-primary-elev p-4">
            <div class="text-white d-flex flex-column w-100">
              <img
                src="../assets/imgs/carrossel/carrossel1.png"
                class="d-block w-100 rounded"
                alt=""
              />
              <p class="font-weight-bold mt-2">Sorteio n: 02/2025</p>
              <p class="">Sorteio dia...</p>
              <p class="">Titulo: R$ 100,00</p>
            </div>
            <button
              type="button"
              class="btn bg-secondary-elev text-uppercase text-white w-100 px-3 py-3 mt-3"
            >
              Participe agora
            </button>
          </div>
          <div class="bg-primary-elev p-4">
            <div class="text-white d-flex flex-column w-100">
              <img
                src="../assets/imgs/carrossel/carrossel1.png"
                class="d-block w-100 rounded"
                alt=""
              />
              <p class="font-weight-bold mt-2">Sorteio n: 02/2025</p>
              <p class="">Sorteio dia...</p>
              <p class="">Titulo: R$ 100,00</p>
            </div>
            <button
              type="button"
              class="btn bg-secondary-elev text-uppercase text-white w-100 px-3 py-3 mt-3"
            >
              Participe agora
            </button>
          </div>
        </div>

        <!-- Últimos ganhadores -->
        <div class="mt-5">
          <div class="title text-white">
            Últimos <span class="text-color-primary">Ganhadores</span>
          </div>
        </div>
      </section>
      <section></section>
    </main>

    <!-- Bootstrap 4.1.3 -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <!-- Jquery 3.3.1 + Popper 1.14.3 -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <script>
        // Solução temporária para o slide dos banners, pois slide com bootstrap não estava funcionando
      function nextSlide() {
        let url = "";
        const qnt = 3;
        let count = 1;
        setInterval(() => {
          count++;
          url = `../assets/imgs/banner/banner${count}.jpeg`;
          document.getElementById("banner-image").src = url;

          if (count === qnt) count = 1;
        }, 4000);
      }
      nextSlide();
    </script>
  </body>
</html>
